<% content_for :bodyclass do %>home<% end %>

<div class="splash">
    <a href="/login/initial">
        <img class="splash__logo" src="<%= asset_url 'logo.png' %>" alt="Hack Hoard">
        <h1 class="splash__title">Hack</h1>
    </a>
</div>
