
<div class="editor">
    <img class="editor__image" src="<%= @uri %>" alt="Photo">
    <div class="editor-overlay overlay-hat"></div>
    <div class="editor-overlay overlay-eye"></div>
    <div class="editor-overlay overlay-mouth"></div>
    <div class="editor-overlay overlay-neck"></div>
</div>

<ul class="controls">
  <% ['hat', 'eye', 'mouth', 'neck'].each do |zone| %>
  <li>
    <a href="#"><%= zone.capitalize %></a>
    <div class="swatch" data-for=".overlay-<%= zone %>">
      <% Dir["app/assets/images/potatochunks/#{zone}*"].each do |url| %>
        <div class="item"><img src="<%= asset_url url.split('/')[-2..-1].join('/') %>"></div>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>

<div class="overlay">
    <h1 class="screen-title">Looking good&hellip;</h1>
    <p>We just need to add some finishing touches.</p>
    <a class="button" href="#removeoverlay">Personalise</a>
</div>
<div class="mask"></div>


